<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Medicine Advisor</title>
    <link rel="stylesheet" href="static/style2.css" />
  </head>
  <body>
    <div class="center">
      <h1>Medicine Advisor</h1>
      <form id="contactform1" class="row" action="{{ url_for('predict')}}" method="post">
        <fieldset class="row-fluid">
            <div class="txt_field">
                <input type="text" name="symptoms" id="phone1" class="form-control" placeholder="Symptoms" required>
        </fieldset>
          <input type="submit" value="Predict" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">
    </form>
    <div>
      <center>
  <h4>{{ prediction_text }}</h4>
      </center>
  </div>
        <div class="signup_link">This Predictor in its Beta version and works for only emergency purposes.</a></div>
      </form>
    </div>
    <div class="scroll-bg">
      <div class="scroll-div">
      <div class="scroll-object">
      These are the symptoms for which medicine can be predicted. Kindly fill the above with these symptoms if found. <b>It is case and space sensitive so kindly fill the area according to it.</b>
      For example if you have symptoms of itching, skin rash, nodal skin eruption, fill the form with <b>Itching,Skin Rash,Nodal Skin Eruptions.</b><br>Itching <br />
      Skin Rash <br />
      Nodal Skin Eruptions <br />
      Continuous Sneezing <br />
      Shivering <br />
      Chills <br />
      Joint Pain <br />
      Stomach Pain <br />
      Acidity <br />
      Ulcers On Tongue <br />
      Muscle Wasting <br />
      Vomiting <br />
      Burning Micturition <br />
      Spotting urination <br />
      Fatigue <br />
      Weight Gain <br />
      Anxiety <br />
      Cold Hands And Feets <br />
      Mood Swings <br />
      Weight Loss <br />
      Restlessness <br />
      Lethargy <br />
      Patches In Throat <br />
      Irregular Sugar Level <br />
      Cough <br />
      High Fever <br />
      Sunken Eyes <br />
      Breathlessness <br />
      Sweating <br />
      Dehydration <br />
      Indigestion <br />
      Headache <br />
      Yellowish Skin <br />
      Dark Urine <br />
      Nausea <br />
      Loss Of Appetite <br />
      Pain Behind The Eyes <br />
      Back Pain <br />
      Constipation <br />
      Abdominal Pain <br />
      Diarrhoea <br />
      Mild Fever <br />
      Yellow Urine <br />
      Yellowing Of Eyes <br />
      Acute Liver Failure <br />
      Fluid Overload <br />
      Swelling Of Stomach <br />
      Swelled Lymph Nodes <br />
      Malaise <br />
      Blurred And Distorted Vision <br />
      Phlegm <br />
      Throat Irritation <br />
      Redness Of Eyes <br />
      Sinus Pressure <br />
      Runny Nose <br />
      Congestion <br />
      Chest Pain <br />
      Weakness In Limbs <br />
      Fast Heart Rate <br />
      Pain During Bowel Movements <br />
      Pain In Anal Region <br />
      Bloody Stool <br />
      Irritation In Anus <br />
      Neck Pain <br />
      Dizziness <br />
      Cramps <br />
      Bruising <br />
      Obesity <br />
      Swollen Legs <br />
      Swollen Blood Vessels <br />
      Puffy Face And Eyes <br />
      Enlarged Thyroid <br />
      Brittle Nails <br />
      Swollen Extremeties <br />
      Excessive Hunger <br />
      Extra Marital Contacts <br />
      Drying And Tingling Lips <br />
      Slurred Speech <br />
      Knee Pain <br />
      Hip Joint Pain <br />
      Muscle Weakness <br />
      Stiff Neck <br />
      Swelling Joints <br />
      Movement Stiffness <br />
      Spinning Movements <br />
      Loss Of Balance <br />
      Unsteadiness <br />
      Weakness Of One Body Side <br />
      Loss Of Smell <br />
      Bladder Discomfort <br />
      Foul Smell Of urine <br />
      Continuous Feel Of Urine <br />
      Passage Of Gases <br />
      Internal Itching <br />
      Toxic Look (typhos) <br />
      Depression <br />
      Irritability <br />
      Muscle Pain <br />
      Altered Sensorium <br />
      Red Spots Over Body <br />
      Belly Pain <br />
      Abnormal Menstruation <br />
      Dischromic Patches <br />
      Watering From Eyes <br />
      Increased Appetite <br />
      Polyuria <br />
      Family History <br />
      Mucoid Sputum <br />
      Rusty Sputum <br />
      Lack Of Concentration <br />
      Visual Disturbances <br />
      Receiving Blood Transfusion <br />
      Receiving Unsterile Injections <br />
      Coma <br />
      Stomach Bleeding <br />
      Distention Of Abdomen <br />
      History Of Alcohol Consumption <br />
      Fluid Overload. <br />
      Blood In Sputum <br />
      Prominent Veins On Calf <br />
      Palpitations <br />
      Painful Walking <br />
      Pus Filled Pimples <br />
      Blackheads <br />
      Scurring <br />
      Skin Peeling <br />
      Silver Like Dusting <br />
      Small Dents In Nails <br />
      Inflammatory Nails <br />
      Blister <br />
      Red Sore Around Nose <br />
      Yellow Crust Ooze <br /></div>
    </div>
  </body>
</html>
